<% if @publishers.present? %>
  <table class='table table-bordered'>
    <thead>
      <tr>
        <th class='text-center'>パブリッシャー名</th>
        <th class='text-center'>作成日時</th>
        <th class='text-center'>更新日時</th>
        <th class='text-center' colspan='3'>設定</th>
      </tr>
    </thead>

    <tbody>
      <% @publishers.each do |publisher| %>
        <tr>
          <td><%= publisher.name %></td>
          <td><%= publisher.created_at_label %></td>
          <td><%= publisher.updated_at_label %></td>
          <td class='text-center'><%= link_to '詳細', publisher %></td>
          <td class='text-center'><%= link_to '編集', edit_publisher_path(publisher) %></td>
          <td class='text-center'><%= link_to '削除', publisher, method: :delete, data: { confirm: '本当によろしいですか?' } %></td>
        </tr>
      <% end %>
      <%= paginate @publishers %>
    </tbody>
  </table>
<% else %>
  <h4>NO DATA</h4>
<% end %>