<%= form_with(model: category, local: true) do |form| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2>エラー</h2>

      <ul>
      <% category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= form.label :name, "カテゴリー名" %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>
  

  <%= form.submit t("helpers.submit.#{action}"), :class => 'button right' %>
<% end %>
