<h4>
  <a class="btn btn-primary" data-toggle="collapse" href="#categorySearch" role="button" aria-expanded="true" aria-controls="categorySearch">
  <span class="glyphicon glyphicon-search"></span> 検索条件
  </a>
</h4>
<div class='search-form collapse in' id="categorySearch">
  <%= form_with(scope: :search_category, url: search_categories_path) do |form| %>
    <% if search_category.try(:errors).try(:any?) %>
      <div id="error_explanation">
        <h2>エラー</h2>

        <ul>
        <% search_category.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class='form-group row'>
      <%= form.label :name, 'カテゴリー名', class: 'col-md-2 col-sm-3 col-xs-4' %>
      <div class='col-md-6 col-sm-6 col-xs-6'>
        <%= form.text_field :name, class: 'form-control' %>
      </div>
    </div>

    <%= form.submit '検索' , :class => 'button text-center' %>
  <% end %>
</div>