<% if @categories.present? %>
  <table class='table table-bordered'>
    <thead>
      <tr>
        <th class='text-center'>カテゴリー名</th>
        <th class='text-center'>作成日時</th>
        <th class='text-center'>更新日時</th>
        <th class='text-center' colspan='3'>設定</th>
      </tr>
    </thead>

    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td><%= category.name %></td>
          <td><%= category.created_at_label %></td>
          <td><%= category.updated_at_label %></td>
          <td class='text-center'><%= link_to '詳細', category %></td>
          <td class='text-center'><%= link_to '編集', edit_category_path(category) %></td>
          <td class='text-center'><%= link_to '削除', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
      <%= paginate @categories %>
    </tbody>
  </table>
<% else %>
  <h4>NO DATA</h4>
<% end %>